.bg-light {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}
.calculator-container {
  /*background-color: #fff;*/
  /*background-color: #d2dfea;*/
  background-color: #f5f2f2;
  /*background-color: #f2f3f7;*/
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  /*background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);*/
}
.result-container {
  background: #ffffff;
  box-shadow: inset 2px 2px 6px #9c9c9c, inset -2px -2px 12px #ffffff;
  color: #000;
}
.digit {
  position: relative;
  /*border: 1px solid rgba(255, 255, 255, 1);*/
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
  /*box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),*/
  /*  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);*/
  background-color: #f5f2f2;
  cursor: pointer;
  border-radius: 1.5rem;
  border: double 1px transparent;
  background-image: linear-gradient(145deg, #ffffff, #f5f2f2),
    linear-gradient(145deg, #ffffff, #767676);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@layer utilities {
  @variants dark {
    .bg-dark {
      background-color: #7f5a83;
      background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    }
    .calculator-container-dark {
      /*background: #363660;*/
      background: #0f3460;
    }
    .result-container-dark {
      background: #3c415c;
      color: #fff;
      box-shadow: inset -10px -10px 25px #444a69, inset 10px 10px 25px #143143;
    }
    .digit-dark {
      position: relative;
      color: white;
      box-shadow: 5px 5px 10px #292f47, -5px -5px 10px #3c415c;
      /*box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),*/
      /*  -6px -6px 10px -1px rgba(255, 255, 255, 0.7);*/
      cursor: pointer;
      border-radius: 1.5rem;
      border: double 1px transparent;
      background-image: linear-gradient(145deg, #3c415c, #292f47),
        linear-gradient(145deg, #3c415c, #292f47);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }
}
